* Methodology to test new product or feature. For some user we show existing product(control group) and another set of user (experiment) are shown new set of features.
* Allows us to test 2 or more different ideas against each other
* How user respond differently.
* Change in UI, new features, different look for website can use A/B test.
* Will change in branch hrs will create changes?
* Other technique is using user logs, we can analyze it and find hypothesis, and then we can create experiment for that hypothesis and create A-B test.
* Completely changing something is difficult to test with A?B test.
* Key thing is to get response from control and experiment group to notice behavior change.
* Customer funnel is largest number of visit at top level (home page) and lowering it towards deep inside pages. (complete course, purchase page etc.)
* We also have to control variables that affect the study. To check new product is increasing the sale in store, we choose stores which are similar in sales, location and customer demographics. 
* Identifying control variables
    - List potential variables
    - Is variable data available?
    - Logical connection between control and target variable
    - Test correlation between control and target variables.
    - Test correlation between control variables
* Also we have to take care of lurking variables
* Wait for full cycle of data before making conclusion otherwise it will have bias in responses
* In  shop example, number of products offered, total volume of category sold, number of customers, number of competitive products, size, location, demographics of shoppers.
* A/B test are run to improve KPI (Key performance indicator)
    - To understand revenue, conversion rate, likelihood of side effect of drug all can be understood using KPI
    - Experience + Domain knowledge (Both find important features that drive business)+ Exploratory data analysis (Uncolver relationship that truly drive this features)
* Identify KPI
    - App paid subscription and in app purchase
    - Goal is to maintain high conversion rate.
* Choosing KPI
    - Stable, generalizable KPI is better than custom KPI
    - Correlation with business factors

In [20]:
import pandas as pd

In [21]:
customer_data = pd.read_csv("user_demographics_v1.csv")

In [22]:
customer_data.head()

          uid              reg_date device gender country  age
0  54030035.0  2017-06-29T00:00:00Z    and      M     USA   19
1  72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22
2  64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16
3  92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41
4  99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59

In [23]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
uid         10000 non-null float64
reg_date    10000 non-null object
device      10000 non-null object
gender      10000 non-null object
country     10000 non-null object
age         10000 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 468.8+ KB

In [24]:
app_purchases = pd.read_csv("purchase_data_v1.csv")

In [25]:
app_purchases.head()

         date       uid            sku  price
0  2017-07-10  41195147  sku_three_499    499
1  2017-07-15  41195147  sku_three_499    499
2  2017-11-12  41195147   sku_four_599    599
3  2017-09-26  91591874    sku_two_299    299
4  2017-12-01  91591874   sku_four_599    599

In [26]:
app_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9006 entries, 0 to 9005
Data columns (total 4 columns):
date     9006 non-null object
uid      9006 non-null int64
sku      9006 non-null object
price    9006 non-null int64
dtypes: int64(2), object(2)
memory usage: 281.5+ KB

* Let's merge both dataframe

In [29]:
uid_combined_data = app_purchases.merge(customer_data, how="inner", on=['uid'])

* I also want to merge it on both uid and date.

In [31]:
customer_data["date"] = customer_data["reg_date"]

In [33]:
customer_data.drop("reg_date", axis=1, inplace=True)

In [34]:
uid_date_combined_data = app_purchases.merge(customer_data, how="inner", on=['uid', 'date'])

In [35]:
len(uid_combined_data)

9006

In [36]:
len(uid_date_combined_data)

0

In [39]:
uid_combined_data.agg({'price':['mean', 'median'], 'age':['mean', 'median']})

             price        age
mean    406.772596  23.922274
median  299.000000  21.000000

In [40]:
grouped_purchase_data = uid_combined_data.groupby(by=['device', 'gender'])

In [41]:
grouped_purchase_data.agg({'price':['mean', 'median', 'std']})

                    price
                     mean median         std
device gender
and    F       400.747504    299  179.984378
       M       416.237308    499  195.001520
iOS    F       404.435330    299  181.524952
       M       405.272401    299  196.843197

* Calculate KPI after first week (free trial ends)

* To find KPI consider how long it takes
    - Monthly conversion rate: impractical to wait for a month
    - Use exploratory analysis : reveal relationship between metrics and key results
    - Explore ties to business metrics

* Hypothesis : Changing the start now button from orange to pint will increase students who explore website. 
* Metrics is total number of courses completed. (total number of media captured) or number of clicks on start now button(increase of user at next level of funnel). Click though rate = number of clicks / number of page views. Click through probability = unique visitors who click / unique visitor to page. Last one is important think some user click 5 times a button.
* New hypothesis: Changing start now button from orange to pink will increase click through probability of the button.
* Click through rate is used to check usability (how often they actually found that particular button). How many user go to second page? (Use probability)
* It follows binomial distribution.

### Randomized Design
* When there is hard to control the variables and volume and velocity of data is high enough which can not generate bias.
* Treatment and control units selected randomly.
* Web site and phone based experiments
* Which people in which group is determined randomly.
* People will see design A or B complete randomly.
* Determine how to assign user to group
    - Using device id, ip address, cookies makesure one user see only A or B type of page not both
* Determine population
* Determine the duration for which we run experiment
* Determine size of control and experiment group, whether it is representative of population?

### Matched Pair Design
* Volume of observation is low.
* Concern of bias is high
* Cost per observation is high
* Treatment and control unit are assigned unit by unit basis by controlling the variables.
* Ex. each control store is compared to other 1 or more treatment store. Analysis is then aggregated.
* Set up ahead of time
* All units must be known before the start of the experiment.
* Ex. Accounting department has 6000 workers and set up experiment to check whether 2nd monitor will improve productivity?
    - Control are difference in experience, comfort with technology, typed of work. This can cause bias and we have to control it
    - Buying all 6000 monitor can be expensive
*

### Test of means analysis
* Statistical calculation of whether the mean values of treatment and control groups are the same? Meaning is there any statistical difference in the result?
* P values is likelihood that actual difference between the mean is 0. p < 0.05 (statistically significant)