### Import packages

In [3]:
import numpy as np
import pandas as pd

### Import Data

In [4]:
data = pd.read_csv("newproductcontroldata.csv")

### Exploratory data analysis

In [5]:
data.head()

   Store ID        City State  Zip Code  Category Sales  Product Count   Size
0         1   ALABASTER    AL     35007           18.88              1  Large
1         2  BIRMINGHAM    AL     35209        44125.66              6  Large
2         3     DECATUR    AL     35601        46627.92              5  Large
3         4  HUNTSVILLE    AL     35806        26658.48              6  Large
4         5      MOBILE    AL     36606         1863.60              3  Large

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7008 entries, 0 to 7007
Data columns (total 7 columns):
Store ID          7008 non-null int64
City              7008 non-null object
State             7008 non-null object
Zip Code          7008 non-null int64
Category Sales    7008 non-null float64
Product Count     7008 non-null int64
Size              7008 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 383.3+ KB

* We want to introduce new product and let's check whether it will increase in sale or not.
* First of all let's check about variable which we have to control
    - Number of product offered in store
    - Total volume of category sold
    - Number of customers
    - Number of competitive products
    - Size
    - Location
    - Demographics of shoppers
* We do not have info about Number of customers and Number of competitive products. Both location and demographics are related.
* Let's test correlation

* Is there any correlation between `Category Sales` and `Product Count`

In [7]:
data["Category Sales"].corr(data["Product Count"])

0.4318812952414523

* `Product count` should be controlled in the experiment as sales is correlated with it.

In [9]:
data.groupby(by=['Size']).agg({'Category Sales':["mean"]})

       Category Sales
                 mean
Size
Large    23638.901950
Medium   24787.388681
Small    21663.566034

* We do not need to control store size in experiment as there is not apparent relationship.

* How many stores are there per zip codes

State  City              Zip Code
 AL    ALABASTER         35007       1
       AUBURN            36830       1
       BIRMINGHAM        35209       1
                         35243       1
                         35244       1
       CULLMAN           35055       1
       DECATUR           35601       1
       DOTHAN            36303       1
       FLORENCE          35630       1
       GADSDEN           35901       1
       GUNTERSVILLE      35976       1
       HUNTSVILLE        35801       1
                         35806       1
       JASPER            35501       1
       MOBILE            36606       2
       MONTGOMERY        36117       1
       PRATTVILLE        36066       1
       SELMA             36703       1
       SPANISH FORT      36527       1
       TRUSSVILLE        35235       1
       TUSCALOOSA        35405       1
 AR    CONWAY            72032       1
       HOT SPRINGS       71913       1
       LITTLE ROCK       72212       1
       PARAGOULD         72450       1
       ROGERS            72756       1
       RUSSELLVILLE      72802       1
       STUTTGART         72160       1
 FL    BROOKSVILLE       34613       1
       CAPE CORAL        33991       1
                                    ..
WV     Martinsburg       25404       1
       Mason             25260       1
       Moorefield        26836       1
       Morgantown        26501       2
                         26508       1
       Moundsville       26041       1
       New Martinsville  26155       1
       Parkersburg       26101       1
       Princeton         24739       1
       Quincy            25015       1
       Ripley            25271       1
       South Charleston  25309       2
       Spencer           25276       1
       Summersville      26651       1
       Sutton            26601       1
       Triadelphia       26059       1
       Vienna            26105       2
       Weirton           26062       1
       Weston            26452       1
WY     Casper            82604       1
                         82609       2
       Cheyenne          82007       1
                         82009       2
       Cody              82414       1
       Evanston          82930       1
       Gillette          82718       1
       Laramie           82070       1
       Rawlins           82301       1
       Riverton          82501       1
       Sheridan          82801       1
Name: Store ID, Length: 4952, dtype: int64

* There is a almost 1 store in each zip code, very few has 2. Let's group only by city and state

In [16]:
data.groupby(by=["State","City"])["Store ID"].count()

State  City
 AL    ALABASTER           1
       AUBURN              1
       BIRMINGHAM          3
       CULLMAN             1
       DECATUR             1
       DOTHAN              1
       FLORENCE            1
       GADSDEN             1
       GUNTERSVILLE        1
       HUNTSVILLE          2
       JASPER              1
       MOBILE              2
       MONTGOMERY          1
       PRATTVILLE          1
       SELMA               1
       SPANISH FORT        1
       TRUSSVILLE          1
       TUSCALOOSA          1
 AR    CONWAY              1
       HOT SPRINGS         1
       LITTLE ROCK         1
       PARAGOULD           1
       ROGERS              1
       RUSSELLVILLE        1
       STUTTGART           1
 FL    BROOKSVILLE         1
       CAPE CORAL          1
       CLERMONT            1
       DELAND              1
       DESTIN              1
                          ..
WV     Lewisburg           1
       Logan               1
       Macarthur           1
       Martinsburg         2
       Mason               1
       Moorefield          1
       Morgantown          3
       Moundsville         1
       New Martinsville    1
       Parkersburg         1
       Princeton           1
       Quincy              1
       Ripley              1
       South Charleston    2
       Spencer             1
       Summersville        1
       Sutton              1
       Triadelphia         1
       Vienna              2
       Weirton             1
       Weston              1
WY     Casper              3
       Cheyenne            3
       Cody                1
       Evanston            1
       Gillette            1
       Laramie             1
       Rawlins             1
       Riverton            1
       Sheridan            1
Name: Store ID, Length: 3398, dtype: int64

In [17]:
data.groupby(by=["State"])["Store ID"].count()

State
 AL     22
 AR      7
 FL     25
 GA     45
 KY      6
 LA      5
 MD      2
 MO      1
 MS     16
 NC     66
 OK      3
 SC     36
 TN     24
 TX     15
 VA     19
 WV      4
AK      13
AL     111
AR      60
AZ     183
CA     913
CO     175
CT      57
DC      26
DE      15
FL     490
GA     225
HI      13
IA      73
ID      26
      ...
ME      25
MI     160
MN     187
MO     106
MS      38
MT      14
NC     263
ND      20
NE      51
NH      33
NJ     107
NM      36
NV      52
NY     212
OH     228
OK      80
OR      92
PA     186
RI      10
SC      89
SD      15
TN     116
TX     574
UT      77
VA     242
VT       4
WA     160
WI     147
WV      43
WY      13
Name: Store ID, Length: 67, dtype: int64

* It is good idea to control store over the state.